#logo {
    width: 200px;
    height: 200px;
    background-image: url('../../assets/holberton-logo.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}